<div class="container">
  <div class="row">
    <div class="text-center col">
      <app-loader #loader [id]="'loader-example'"></app-loader>
      <h1>App Loader</h1>
      <p>
        Automatic loading bar with zero configuration (http and router)
      </p>
    </div>
    <div class="col">
      <ul>
        <li>
          Manage manually loading bar
          <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="start()" type="button" name="button">Start</button>
            <button mat-flat-button color="primary" (click)="set()" type="button" name="button">set to
              50%</button>
            <button mat-flat-button color="primary" (click)="increment()" type="button" name="button">increment
              by 10%</button>
            <button mat-flat-button color="primary" (click)="complete()" type="button" name="button">Complete</button>
          </div>
        </li>
        <li>
          Manage manually loading bar: using rxjs observable (timer 3 seconds)
          <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="startTimer()" type="button" name="button">Start
              Timer {{timer}}</button>
          </div>
        </li>
        <li>
        Show Toastr
          <div class="example-button-row">
            <button mat-flat-button color="primary" (click)="showToastr()" type="button" name="button">Start
             Show Toastr</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
